.job  {
  color: maroon;
  padding-left: 40px;
  text-align: left;
}

.center {

       text-align: center;
}

.hi {

    padding: 00px 40px 0px;

}

body {

  color: grey;
  text margin-right:-50px;
}

.parent{

    display:flex;
    margin-right: 20px;
}

.heading {
    padding: 5px 0px 0px 0px;
}

.namehead{

    padding-left: 40px;
    margin-bottom: 5px;

}
.left{

    color: white;
    border-style: solid;
    background-color: grey;
    }

.list_left{

padding-left: 15px;

}

.multi-border {
    color: white;
    margin-left: 40px;
    padding: 0px 30px;
    box-sizing: border-box;
    background-color: grey;

}

.education{

    padding-top: 50px;

}
.container{

    max-width: 960px;
    margin 40px: auto;
    padding:32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0.1)

}
.page{
  background: white;
  width: 21cm;
  height: 51.5cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}


.new_page{
    padding-top: 27px;

}